body{
    margin: 0px;
    padding: 0px;
}
img{
    width: 35%;
    height: 100vh;
    object-fit: cover;
}
.header{
    display: flex;
}
.text{
    width: 65%;
    height: 100vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}